@font-face {
  font-family: 'South';
  font-weight: 400;
  src: local('South'), url('./South.woff2'), url('./South.woff') format('truetype');
}

.calligraphy.column-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calligraphy-title {
  font-family: 'South';
  letter-spacing: 0.05em;
  font-size: 48px;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.calligraphy-description {
  width: 100%;
  max-width: 710px;
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 65px 0px;
}

.hieroglyphs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
}

.hieroglyph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hieroglyph-korean {
  margin: 0px 0px 35px 0px;
}

.hieroglyph-russian {
  text-transform: uppercase;
  font-family: 'South';
  letter-spacing: 0.05em;
}

.calligraphy .more-info {
  font-family: 'South';
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 20px;
  padding: 9px 23px;
  font-size: 20px;
}
