.not-found-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.nfp .main-title {
  font-size: 68px;
}

.nfp .subtitle,
.nfp .text {
  text-align: center;
}

.logo img {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}
