.navbar {
  height: 122px;
}

.navbar-nav {
  align-items: center;
}

.navbar a {
  font-size: 20px;
  color: #201a1a;
  margin: 0px 80px 0px 0px;
}

.navbar .auth-links a {
  text-decoration: none;
  margin: 0px 30px 0px 0px;
}

.navbar .auth-links a:last-child {
  margin: 0;
}

.dropdown-menu a {
  color: #000;
}

.logo-text {
  text-transform: uppercase;
  font-size: 35px;
}

.logo-text img {
  width: 93px;
}

.user-name {
  margin: 0px 20px 0px 0px;
}
